@mixin poppins-200 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

@mixin poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@mixin poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}