@use '../utils/mixins' as *;

.content {
  @include poppins;
  max-width: 19.438rem;
  margin: 0 auto;
  font-weight: 400;

  &__card {
    max-width: 19.438rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0.45rem 0.45rem 0 rgba(0, 0, 0, 5%);
    user-select: none;
  }

  &__card-title {
    color: var(--very-dark-blue);
    font-size: 1.25rem;
    line-height: auto;
    margin: 0;
    font-weight: 600;
    user-select: text;
  }

  &__card-description {
    color: var(--grayish-blue);
    font-size: 0.813rem;
    line-height: 1.438rem;
    margin-top: 0.313rem;
    margin-bottom: 0;
    letter-spacing: 0.006rem;
    user-select: text;
  }

  &__card-image  {
    margin-top: 2.063rem;
    margin-left: auto;

    &-img {
      width: 3.563rem;
      height: auto;
    }
  }

  &__card--supervisor {
    border-top: 0.25rem solid var(--cyan);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--team {
    border-top: 0.25rem solid var(--red);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--karma {
    border-top: 0.25rem solid var(--orange);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--calculator {
    border-top: 0.25rem solid var(--blue);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 69.375rem;
    display: grid;
    grid-template-areas:
      "          .              team                .          "
      "      supervisor         karma          calculator      ";
    grid-gap: 1.875rem;
    justify-content: center;
    align-items: center;

    &__card {
      max-width: 21.875rem;
      height: 15.625rem;
      margin: 0;
    }

    &__card-image  {
      margin-top: 2.5rem;

      &-img {
        width: 4rem;
        height: auto;
      }
    }

    &__card--supervisor {
      grid-area: supervisor;
      transform: translateY(-150px);
    }

    &__card--team {
      grid-area: team;
    }

    &__card--karma {
      grid-area: karma;
    }

    &__card--calculator {
      grid-area: calculator;
      transform: translateY(-150px);
    }
  }
}