@use '../utils/mixins' as *;

.content {
  @include poppins;
  max-width: 19.438rem;
  margin: 0 auto;
  font-weight: 400;

  &__card {
    width: 19.438rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    user-select: none;
  }

  &__card-title {
    color: var(--very-dark-blue);
    font-size: 1.25rem;
    line-height: auto;
    margin: 0;
    font-weight: 600;
    user-select: text;
  }

  &__card-description {
    color: var(--grayish-blue);
    font-size: 0.813rem;
    line-height: 1.438rem;
    margin-top: 0.313rem;
    margin-bottom: 0;
    letter-spacing: 0.006rem;
    user-select: text;
  }

  &__card-image  {
    margin-top: 2.063rem;
    margin-left: auto;

    &-img {
      width: 3.563rem;
      height: auto;
    }
  }

  &__card--supervisor {
    border-top: 0.25rem solid var(--cyan);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--team {
    border-top: 0.25rem solid var(--red);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--karma {
    border-top: 0.25rem solid var(--orange);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }

  &__card--calculator {
    border-top: 0.25rem solid var(--blue);
    border-radius: 0.5rem;
    padding: 1.75rem;
    margin-bottom: 1.563rem;
  }
}