@use '../utils/mixins' as *;

.footer {
  @include poppins;
  padding: 1.25rem;
  margin-top: 1.25rem;
  font-weight: 600;

  &__attribution {
    font-size: 0.688rem; text-align: center;
  }
  &__link {
    color: hsl(228, 45%, 44%);
  }
}